<h2>Contests</h2>

<div id="start-buttons">
  <%= link_to "Start", new_admin_contest_path %>
  <%= link_to "Start Late", new_admin_contest_path(:start_late => true) %>
</div>

<table>
  <tr>
    <th>Started at</th>
    <th>Actions</th>
  </tr>
  
  <% @contests.each do |c| %>
    <tr>
      <td><%= c.created_at %></td>
      <td>
        <%= link_to "Show timer", admin_contest_path(c) %>
        <%= link_to "Delete", admin_contest_path(c), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>